# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [40]:
CREATE TABLE [JunkDB_STL_Sept2022].[ashleya].[planned_makes](
    column_1 INT PRIMARY KEY,
    race VARCHAR(10),
    class VARCHAR(10)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'planned_makes' in the database.

Add three rows to your table that are your planned makes.

In [42]:
INSERT INTO [JunkDB_STL_Sept2022].[ashleya].[planned_makes]
VALUES ('night elf', 'rogue'),
('draenei', 'priest'),
('blood elf', 'demon hunter');

SELECT * FROM [JunkDB_STL_Sept2022].[ashleya].[planned_makes];

Race,Class
blood elf,demonhunt
draenei,priest
night elf,rogue

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__planned___1105AE4F03D757A0'. Cannot insert duplicate key in object 'ashleya.planned_makes'. The duplicate key value is (night elf, rogue).

## Update a Row

Change different values in one of your three rows.

In [50]:
UPDATE [JunkDB_STL_Sept2022].[ashleya].[planned_makes]
SET Race = 'Starting Race'
WHERE Class = 'Rogue'; 

SELECT * FROM[JunkDB_STL_Sept2022].[ashleya].[planned_makes];

Race,Class
draenei,priest
night elf,rogue

: Msg 2628, Level 16, State 1, Line 1
String or binary data would be truncated in table 'JunkDB_STL_Sept2022.ashleya.planned_makes', column 'Race'. Truncated value: 'Starting R'.

## Delete a Row

Delete one of the rows from your table.

In [49]:
DELETE FROM [JunkDB_STL_Sept2022].[ashleya].[planned_makes]
WHERE Race = 'blood elf';

SELECT * FROM[JunkDB_STL_Sept2022].[ashleya].[planned_makes];

Race,Class
draenei,priest
night elf,rogue

## Drop the Table

While this has been fun, it is time to drop the table!

In [52]:
DROP TABLE [JunkDB_STL_Sept2022].[ashleya].[planned_makes];

: Msg 3701, Level 11, State 5, Line 1
Cannot drop the table 'JunkDB_STL_Sept2022.ashleya.planned_makes', because it does not exist or you do not have permission.

: Msg 208, Level 16, State 1, Line 3
Invalid object name 'JunkDB_STL_Sept2022.ashleya.planned_makes'.